<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Log</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container my-5">
    <h2 class="text-center mb-4">Authentication Log</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info" role="alert">
        <ul class="mb-0">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
            <form method="POST" action="/auth_user_test" class="d-inline">
                <button type="submit" class="btn btn-success mr-3">Test Access Management</button>
            </form>
            <a href="{{ url_for('user_management') }}" class="btn btn-primary">User Management</a>
        </div>
    </div>

    <h3 class="mb-3">User List</h3>
    <ul class="list-group mb-4">
        {% for fullname in fullnames.items %}
        <li class="list-group-item">
            <strong>{{ fullname.id }}</strong>. {{ fullname.name }} <span class="text-muted">({{ fullname.auth_at }})</span>
        </li>
        {% endfor %}
    </ul>

    <nav>
        <ul class="pagination justify-content-center">
            {% if fullnames.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('auth_manangement', page=fullnames.prev_num) }}">Previous</a>
            </li>
            {% endif %}
            {% for num in fullnames.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                {% if num %}
                    {% if fullnames.page == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('auth_manangement', page=num) }}">{{ num }}</a></li>
                    {% endif %}
                {% else %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
                {% endif %}
            {% endfor %}
            {% if fullnames.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('auth_manangement', page=fullnames.next_num) }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="text-center mt-4">
        <form method="POST" action="/logout">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
