<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container my-5">
    <h2 class="mb-4">User Management</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info" role="alert">
        <ul class="mb-0">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="mb-3">
        <a href="{{ url_for('register') }}" class="btn btn-primary mr-2">Add management user</a>
        <a href="{{ url_for('change_password') }}" class="btn btn-secondary">Change user password</a>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form method="POST" action="/add_user" class="form-inline">
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="text" placeholder="Enter username" required>
                </div>
                <button type="submit" class="btn btn-success">Add new user</button>
            </form>
            <a href="{{ url_for('auth_management') }}" class="btn btn-link mt-2">Authentication management</a>
        </div>
    </div>

    <h3>User list</h3>
    <ul class="list-group mb-4">
        {% for fullname in fullnames.items %}
        <li class="list-group-item">
            <strong>{{ fullname.id }}.</strong> {{ fullname.name }} <span class="text-muted ml-2">{{ fullname.created_at }}</span>
        </li>
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if fullnames.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('user_management', page=fullnames.prev_num) }}">Previous</a>
            </li>
            {% endif %}
            {% for num in fullnames.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
            {% if num %}
                {% if fullnames.page == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('user_management', page=num) }}">{{ num }}</a></li>
                {% endif %}
            {% else %}
            <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
            {% endfor %}
            {% if fullnames.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('user_management', page=fullnames.next_num) }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="mt-4">
        <form method="POST" action="/logout" class="d-inline">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <form method="POST" action="/flush_local_db" class="d-inline ml-2">
            <button type="submit" class="btn btn-warning">Flush scanner database</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
